<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MSCV-Disney</title>

    <!--for bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- for bootstrap sortable -->
    <link rel="stylesheet" href="../static/css/bootstrap-sortable.css">

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">MSCV-Disney</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">
      <h3 align="center"> Overall Performance </h3>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>mAP</th> <th>top-1 Accuracy</th> <th>top-3 Accuracy</th> <th>Mean Class Precision</th> <th>Mean Class Recall</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'%.2f' % (total_performance['map'] * 100)}}</td>
          <td>{{'%.2f' % (total_performance['top1_acc'] * 100)}}</td>
          <td>{{'%.2f' % (total_performance['top3_acc'] * 100)}}</td>
          <td>{{'%.2f' % (total_performance['mean_class_precision'] * 100)}}</td>
          <td>{{'%.2f' % (total_performance['mean_class_recall'] * 100)}}</td>
        </tr>
        </tbody>
      </table>

      <h3 align="center"> Confusion Matrix </h3>
      <center>
        <img src={{confusion_mat_file}} width=250 height=250 />
      </center>

      <h3 align="center"> Performance per Class </h3>
        <table class="table sortable" width="100%">
          <thead class="thead-default">
            <tr>
              <th>Class</th> <th>Index</th> <th>mAP</th><th>Precision</th><th>Recall</th><th>Accuracy</th>
            </tr>
          </thead>
          <tbody>
            {% for item in class_performance %}
            <tr>
                <td>{{item['class_name']}}
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target={{"#myModal"~item['class_name']}}>explore</button>
                </td>
                <td>{{item['class_id']}}</td>
                <td>{{'%.2f' % (item['map'] * 100)}}</td>
                <td>{{'%.2f' % (item['precision'] * 100)}}</td>
                <td>{{'%.2f' % (item['recall'] * 100)}}</td>
                <td>{{'%.2f' % (item['accuracy'] * 100)}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      <!--Video Player Modal-->
      {% for item in class_performance %}
      <div class="modal fade" tabindex="-1" role="dialog" id={{"myModal"~item['class_name']}}>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{"Video Explorer("~item['class_name']~")"}}</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div><!-- /.container -->

    <!-- For Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>\\
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- For bootstrap sortable -->
    <script src="../static/js/bootstrap-sortable.js"></script>
    <script src="../static/js/moment.min.js"></script>
  </body>
</html>
